.fav-count{
    width: 40px;
    line-height: 40px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 25px;
}
.fav-count span{
    position: absolute;
    font-size: 15px;
    width: 20px;
    line-height: 20px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    left: -5px;
    top: -6px;
}